
<div class="text-center">
    <h1 class="text-info"> Confirmación</h1>
    <p>Hemos recibido tu orden. Un miembro de nuestro equipo se pondrá en contacto contigo a la brevedad</p>
    <img src="/imagenes/rocaspaisaje.png" width="80%" />
</div>
