@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos personales / Eliminar cuenta";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta personal contiene información confidencial que nos has otorgado. Puedes actualzar tu información o eliminarla.</p>
        <p>
            <strong>La eliminación de tu información será permanente.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mb-2" type="submit">Descargar información</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Eliminar cuenta</a>
        </p>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
