@model Rocastone.Models.Categoria
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="Editar">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="p-3">
        <div class="form-group row">
            <h2 class="text-primary">Editar Categoría</h2>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label asp-for="NombreCategoria" class="form-label fw-bold"></label>
                        <input asp-for="NombreCategoria" class="form-control" />
                        <span asp-validation-for="NombreCategoria" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label asp-for="MostrarOrden" class="form-label fw-bold"></label>
                        <input asp-for="MostrarOrden" class="form-control" />
                        <span asp-validation-for="MostrarOrden" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-primary me-1">Editar</button>
                <a class="btn btn-outline-success" asp-controller="Categorias" asp-action="Index">Regresar</a>
            </div>
        </div>
    </div>
</form>

@section scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}

    }
