@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}



<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="row align-items-center">
            <div class="col-md-4 offset-2">
                <div class="form-floating mb-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Nombre" class="form-control" />
                    <label asp-for="Input.Nombre"></label>
                    <span asp-validation-for="Input.Nombre" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Apellido" class="form-control" />
                    <label asp-for="Input.Apellido"></label>
                    <span asp-validation-for="Input.Apellido" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Telefono" class="form-control" />
                    <label asp-for="Input.Telefono"></label>
                    <span asp-validation-for="Input.Telefono" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Provincia" class="form-control" />
                    <label asp-for="Input.Provincia"></label>
                    <span asp-validation-for="Input.Provincia" class="text-danger"></span>
                </div>

            </div>

            <div class="col-md-4">
                <div class="form-floating mb-2">
                    <input asp-for="Input.Ciudad" class="form-control" />
                    <label asp-for="Input.Ciudad"></label>
                    <span asp-validation-for="Input.Ciudad" class="text-danger"></span>
                </div>

                <div class="form-floating mb-2">
                    <input asp-for="Input.Direccion" class="form-control" />
                    <label asp-for="Input.Direccion"></label>
                    <span asp-validation-for="Input.Direccion" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.CodigoPostal" class="form-control" />
                    <label asp-for="Input.CodigoPostal"></label>
                    <span asp-validation-for="Input.CodigoPostal" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-2">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8 offset-2 mt-2">
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mb-4">Registrarse</button>
            </div>

    </form>
</div>



@section Scripts {
<partial name="_ValidationScriptsPartial" />
        }
